<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuzx.mapper.IOrderMapper">
    
    <resultMap id="orderMap" type="order">
        <result property="id" column="id"></result>
        <result property="ordertime" column="ordertime"></result>
        <result property="total" column="total"></result>
        <association property="user" javaType="user">
            <result property="id" column="uid"></result>
            <result property="username" column="username"></result>
            <result property="password" column="password"></result>
            <result property="birthday" column="birthday "></result>
        </association>
    </resultMap>

    <select id="findOrderAndUser" resultMap="orderMap">
        SELECT * from `user` u,orders o WHERE o.uid = u.id
    </select>
</mapper>